/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: 'Roboto', Arial, sans-serif;
    /* background-color: #fafafa; */
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    opacity: 0.98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    z-index: 4;
    box-shadow: 0 3px 5px #f2f2f2;
}

.form-header {
    box-shadow: none;
    height: 56px;
    top: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #055fd4;
}

a:active {
    text-decoration: none;
    color: #055fd4;
}

[class*="form-"] p {
    text-align: center;
    /* padding: 8px 0 0 0; */
}

.submit {
    display: flex;
    justify-content: flex-start;
}

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-16 { font-size: 16px; }