/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* @font-face {
    font-family: Gilroy;
    src:
} */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #fafafa
}

head, .signup-form, .login-form {
    background-color: #ffffff
}

.signin-btn {
    display: inline;
    border: 1px solid #055fd4;
    border-radius: 2px;
    padding: 5px 11px 5px 11px;
}

.signin-btn a {
    text-decoration: none;
    color: #055fd4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14;
    padding: 5px 11px 5px 11px;
}

a {
    text-decoration: none;
    color: #055fd4;
}

a:active {
    text-decoration: none;
    color: #055fd4;
}

input {
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
    margin: 0 0 44px 0;
}

input:focus {
    border: 2px solid #055fd4;
    border-radius: 4px;
}

form .submit {
    background-color: #1b73e7;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px 10px 28px;
    min-width: 88px;
    max-height: 36px;
    text-align: center;
}

.welcoming {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;

}

.identifier, .password {
    display: flex;
    flex-flow: column-reverse;
}

.identifier, .password label, input {
    transition: all 0.2s
}

.identifier, .password label {
    color:#7f868a;
}

.toplevel-login {
    position: relative;
    /* background-size: 448px 500px;
    background-repeat: no-repeat; */
    overflow: hidden;
        border: 1px solid #dadcdf;
    border-radius: 5px;
    width: 448px;
    margin: 0 auto;

}

.toplevel-login > div {
    transition: left 0.5s;

}

[class*="login-"] {
    display: flex;
    min-width: 448px;
    min-height: 500px;
    /* height: 416px; */
    position: relative;

    vertical-align: bottom;
    /* overflow: hidden; */
}

.login-phase1 {
    left: 0;
    background-position: 0 0;
}

.login-phase2 {
    left: -448px;
}

[class*="form-"] {
    padding: 48px 40px 36px 40px;
    min-width: 448px;
    height: 416px;
    box-sizing: border-box;
}

/* .welcoming {
    padding: 16px 0 0 0;
} */
[class*="form-"] p {
    text-align: center;
    padding: 8px 0 0 0;
}

.submit {
    display: flex;
    justify-content: flex-start;
}

.floating-label {
    position: relative;
    margin-bottom: 10px;
}

.floating-label > label {
    position: absolute;
    top: calc(50% - 6px);
    opacity: 0;
    transition: all .3s ease;
}
.floating-label input:focus {
    padding: 28px 0px 12px 0px;
}

.floating-label input:focus + label{
    transform: translateY(-10px);
    opacity: .7;
}

.bottom-links {
    display: flex;
    align-items: bottom;
    justify-content: space-between;
}