/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #fafafa
}

head, .signup-form, .login-form {
    background-color: #ffffff
}

.signin-btn {
    display: inline;
    border: 1px solid #055fd4;
    border-radius: 2px;
    padding: 5px 11px 5px 11px; 
}

.signin-btn a {
    text-decoration: none;
        color: #055fd4;
        text-transform: uppercase;
    font-weight: bold;
    font-size: 14;

    padding: 5px 11px 5px 11px; 


}

a {
    text-decoration: none;
    color: #055fd4;
}

a:active {
    text-decoration: none;
    color: #055fd4;
}

input {
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
}

input:active {
    border: 2px solid #055fd4;
    border-radius: 4px;

}