#top-comment-text {
    outline: none;
    resize: none;
    border: none;
    border-radius: 0;
    background-color: inherit;
    width: 100%;
    font-size: 14px;
    margin: 10px 0 4px 0px; 
    padding: 0 0 6px 0;
    font-weight: 400;

    border-bottom: 1px solid #eeeeee;
    transform-origin: center;
}

/* solution for border transition effect by giana: https://codepen.io/giana/pen/yYBpVY/ */
  #top-comment-text::before,
  #top-comment-text::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center; 
    /* // Ensure scaling is done from the center (expands outwards) */
  }

  #top-comment-text::before {
    border-bottom: 2px solid #6f6f6f;
    transform: scale3d(0,1,1); 
    /* // Shrink only width */
  }


 #top-comment-text:focus::before,
  #top-comment-text:focus::after {
    transform: scale3d(1,1,1);
    transition: transform 0.5s;
}

#top-comment-text:focus {
    border-bottom: 2px solid #6f6f6f;
}

.comment-buttons-hidden {
    display: none;
    height: 0;
    float: right;
    transition: 0.5s height;
}

.comment-buttons {
    display: inline-block;
    float: right;
    height: 36px;
    padding: 0px 0 0 0;
}

#comment-cancel {
    border: none;
    color: #606060;
    background-color: inherit;
    font-size: 14px;
    padding: 10px 16px;
    outline: none;
    cursor: pointer;
}

#comment-submit, #comment-submit-blue {
    font-size: 14px;
    padding: 10px 16px;
    background-color: #cccccc;
    border: none;
    color: #ffffff;
    width: 104px;
}

#top-comment-text:valid + #comment-submit {
    background-color: #055fd4;
    cursor: pointer;
}

#comment-submit-blue {
    background-color: #055fd4;
    cursor: pointer;

}

.nouser-icon i {
    color: #055fd4;
    font-size: 40px;
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: top;
}

#comment-container {
    list-style: none;
    padding: 0 0 28px 0;
}

#comment-container button {
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
}

#expand-replies {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}



#comment-author-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#comment-date, #reply {
    color: #606060;
    font-size: 13px;
    padding: 8px 16px;
}

#comment-author-username {
    font-size: 13px; 
    font-weight: bold;
    margin: 0 4px 0 0;
}

#comment-body {
    margin: 8px 0 16px;
    font-size: 14px;
    color: #111111;
}

#comments {
    margin: 0;
}

.top-comment-form {
    margin: 24px 0 32px;
}

#commment-like, #comment-dislike {
    padding: 8px;
}

#comment-like i, #comment-dislike i {
    font-size: 16px;
    color: #909090;
}

#comment-like i:hover, #comment-dislike i:hover {
    color: #606060;
}

#everything-comment, #reply-comment {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.comments, #replies {
    padding: 0 0 0 0;
}

#reply-container, #replies-container {
    margin: 0 0 0 56px;
    list-style: none;
}

.author-thumbnail-small {
    background-color: #0288d1;
    color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
    /* padding: 0px 18px; */
    margin: 0 16px 0 0;
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reply-container {
    padding: 0;
    margin: 0;
}

#all-comment-text {
    width: 100%;
}

.reply-form {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0;
}

#reply-input-and-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}