.signup-form {
    padding: 48px 40px 36px 40px;
}

.background-color {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.signup-form > form {
    padding: 24px 0 0 0;
}

.welcoming {
    padding: 24px 0 0 0;
    margin: 0;
    font-size: 24px;
}

.continue {
    padding: 16px 0 0 0;
    margin: 0;
    font-size: 16px;
}

.toplevel-signup {
    border: 1px solid #dadcdf;
    border-radius: 5px;
    width: 448px;
    margin: 0 auto;
}

input {
    outline: none;
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
    width: 340px;
    margin: 0 0 4px 0;
 }

input:focus {
    border: 2px solid #055fd4;
    border-radius: 4px;
    width: 340px;
}

form .submit {
    background-color: #1b73e7;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px 10px 28px;
    max-width: 88px;
    max-height: 36px;
    text-align: center;
}

.welcoming {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;

}

.identifier, .password {
    display: flex;
    flex-flow: column-reverse;
}

.identifier, .password label, input {
    transition: all 0.2s
}

.identifier, .password label {
    color:#7f868a;
}

.toplevel-login {
    position: relative;
    overflow: hidden;
    border: 1px solid #dadcdf;
    border-radius: 5px;
    width: 448px;
    margin: 0 auto;
}

.toplevel-login > div {
    transition: left 0.5s;
}

[class*="login-"] {
    display: flex;
    min-width: 448px;
    min-height: 500px;
    position: relative;
    vertical-align: bottom;
}

.login-phase1 {
    left: 0;
    background-position: 0 0;
}

.login-phase2 {
    left: -448px;
}

[class*="form-"] {
    padding: 48px 40px 36px 40px;
    min-width: 448px;
    height: 416px;
    box-sizing: border-box;
}

[class*="-error"] > input {
    border: 2px solid #d92f26;
    border-radius: 4px;
}

[class*="floating-"] > input {
    display: block; 
    position: relative;
    float: none;
    font-size: 16px;
    height: 28px;
}

[class*="floating-"] > label {
    display: inline-block; 
    top: -44px;
    left: 8px;
    position: relative;
    float: none;
    transition: all 0.3s ease;
    background: #ffffff;
    padding: 2px 8px;
    cursor: auto;
    color: #7f868a;
}

[class*="floating-"] > input:focus + label, input:valid + label {
    top: -71px;
    left: 8px;
    font-size: 12px;
}

/* input:valid + label {
    top: -62px;
    left: 8px;
    font-size: 11px;
} */


.floating-label > input:focus + label {
    color: #055fd4;
    
}

.floating-label-error > input:focus + label {
    color: #d92f26;
}

.floating-label > input:valid + label {
    color: #055fd4;
}

.floating-label-error > input:valid + label {
    color: #d92f26;
}



.bottom-links {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.error {
    display: flex; 
    align-items: center; 
    color: #d92f26;
    font-size: 12px;
    padding: 0px 0 0 0;
}
.error > i {
    padding: 0px 4px 0 0;
}

.error > p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.identifier-info {
    display: flex;
    align-items: baseline;
}

.chars-warning {
    font-size: 13px;
}

.form-identifier .continue {
    padding: 8px 0 24px 0;
}

.space-maker {
    height: 120px;
}

.identifier-info {
    margin: 0 auto;
    outline: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 140px;
    height: 32px;
    border: 1px solid #dadcdf;
    border-radius: 50px;
}

.identifier-info:hover {
    cursor: pointer;
    background-color: #fafafb;
}

.identifier-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.space-40px {
    padding: 0;
    margin:0;
    height: 40px;
}

.toplevel-login, .toplevel-signup {
    position: relative;
    top: 104px;
}
