.search-bar {
    display: flex;
    align-items: center;
    min-width: 640px;
    z-index: 99;
}

.search-bar > input {
    margin: 0 0 0 0px;
    border-color: #c6c6c6;
    border-radius: 0px;
    padding: 2px 6px;
    font-size: 16px;
    height: 28px;
    width: 100%;
    box-shadow: inset 0 0 4px #f3f3f3;
}

.search-bar > button {
    /* border: none; */
    border-color: #c6c6c6;
    border-left: none;
    outline: none;
    cursor: pointer;
    height: 34px;
    max-width: 65px;
    /* padding: 1px 7px 2px 2px; */
    color: #828282;
    background-color: #f8f8f8;
    width: 50%;
}

.search-bar > button:hover {
    border-color: #c6c6c6;
    background-color: #f0f0f0;
    color: black;
    /* box-shadow: 0px 1px 1px #828282; */
}

.search-bar > input:focus {
    border: 1px solid #3f51b5;
}

.nav-right-side {
    display: flex;
    justify-content: space-between;
    /* padding: 0 40px 0 0; */
}

.nav-btns {
    color: #606060;
}

.youtube-icon {
    color: #ff0000;
}
.signin-btn {
    display: flex;
    align-items: center;
    border: 1px solid #055fd4;
    border-radius: 2px;
    margin: 0px 30px 0px 8px;
        color: #055fd4;
}

.signin-btn a {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14;
    padding: 5px 11px 5px 5px;
}

.signin-btn i {
    padding: 3px 4px;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.nav-btns button {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
        padding: 8px 16px;
    color: #606060;
}

.left-nav-bar {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0 0 0 16px;
    color: #606060;
}

.left-nav-bar button {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px 24px 8px 12px;
    font-size: 18px;
}

.left-nav-bar, .nav-right-side > button {
      transition-duration: 0.4s;
      /* color: #ff0000; */

}

.vid-upload {
    position: absolute;
    display: flex;
    width: 170px;
    top: 48px;
    right: 84px;
    background-color: white;
    z-index: 9;
	box-shadow: -1px 6px 10px 5px rgba(0,0,0,0.09);
}

.vid-upload-shifted {
    position: absolute;
    display: flex;
    width: 170px;
    top: 48px;
    right: 152px;
    background-color: white;
    z-index: 9;
	box-shadow: -1px 6px 10px 5px rgba(0,0,0,0.09);

}

.vid-upload > a, .vid-upload-shifted > a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    max-height: 40px;
    margin: 8px 0;
}

.vid-upload > a:hover, .vid-upload-shifted > a:hover {
    background-color: #e2e2e2;
}

.vid-upload > a:focus, .vid-upload-shifted > a:focus {
    background-color: #c6c6c6;
}
.vid-upload > a > i, .vid-upload-shifted > a > i{
    margin: 0 30px 0 0;
    color: red;
}

.vid-upload > a > p, .vid-upload-shifted > a > p{
    font-size: 14px;
    color: black;
    padding: 0;
    margin: 0;
}

.vid-upload-hidden {
    display: none;
}

.current-user-thumbnail {
    background-color: #0288d1;
    color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
    margin: 0px 22px 0 0;
    height: 34px;
    width: 34px;
        display: flex;
    align-items: center;
    justify-content: center;

}

.current-user-thumbnail > p {
    margin: 0;
    
}

.user-button {
    border: none;
    outline: none;
    cursor: pointer;
}

.user-button p {
    padding: 0;
    margin: 0;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}

.user-names {
        margin: 0 0 0 10px;
}

.user-names > h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.user-names > h4 {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

/* .user-pic {
    padding: 
} */

.user-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    top: 10px;
    right: 74px;
    background-color: white;
    color: #0a0a0a;

    z-index: 9;
    box-shadow: -1px 6px 10px 5px rgba(0,0,0,0.09);
    border:none;
    font-size: 11px;
    font-family: 'Roboto', Arial, sans-serif;
    /* padding: 8px 0px 8px 0px; */
}

.user-dropdown > button {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 20px;
    cursor: pointer;
    color: #909090;
    padding: 8px 36px 8px 16px;
    margin: 0px 0px 8px 0px;
    outline: none;
}

.user-dropdown > button:hover {
    background-color: #e2e2e2;
}

.user-dropdown > button:focus {
        background-color: #c6c6c6;
}

.user-dropdown > button > p {
    font-size: 14px;
    color: #0a0a0a;
    margin: 0 0 0 20px;
}

.user-dropdown-hidden {
    display: none;
}

.search-results {
    display: none;
}

#search-input:focus + .search-results {
    display: block;
    list-style: none;
    background: #ffffff;
    position: absolute;
    top: 56px;
    max-width: 575px;
    min-width: 575px;
    z-index: -2;
    opacity: 1;
    padding: 0;
    margin: 0;
    /* right: 640px;
    width: 640px;
    z-index: 0; */
    /* box-shadow: 0 1px 4px #cdcdcd; */
}

.results-list {
    display: block;
    /* padding: 0; */
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    margin: 0;
    padding: 12px 0;
}

.results-hidden{
    display: none;
}
.search-results li {
    padding: 6px 6px;
    font-weight: bold;
    max-height: 16px;
    overflow: hidden;
    z-index: 150;
}

.search-results a, .search-results a:focus {
        color: black;
    cursor: default;

}

.search-results li:hover {
    background-color: #eeeeee;
}

.search-results-hidden {
    display: none;
}

.search-hidden {
    display: none;
    padding: none;
}

/* indicate that "only-for-show" buttons are not clickable */
#not-clickable {
    cursor: not-allowed;
}