.sidebar-collapsed {
    position: fixed;
    height: 100%;
    background-color: #f5f5f5;
    color: #909090;
    width: 72px;
    z-index: 1;
    overflow-x: hidden;
}

.sidebar-holder {
    margin: 5px 0 0 0;
}

.sidebar-collapsed > div > a > button {
    background-color: #f5f5f5;
    font-size: 24px;
    width: 100%;
    border: none;
    padding: 16px 0 14px 0;
    outline: none;
    color: #909090;
}

.sidebar-collapsed > div > a > button > p {
    font-size: 14px;
    margin: 0;
}
.sidebar-collapsed :hover {
    background-color: #dcdcdc;  
}

.sidebar-collapsed > div > a > button:focus {
    color: #ff0000;
}


.sidebar-open {
    width: 164px;
        position: fixed;
    height: 100%;
    background-color: #f5f5f5;
    color: #909090;
    z-index: 1;
    overflow-x: hidden;
}

.sidebar-open > div > a > button:focus {
    color: #ff0000;
    font-weight: bold;
    background-color: #dcdcdc;
}

.sidebar-open > div > a > button:focus > p {
    color: black;
}



.sidebar-open > div > a > button {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    font-size: 24px;
    width: 100%;
    border: none;
    padding: 16px 0 14px 0;
    outline: none;
    color: #909090;
}

.sidebar-open > div > a > button > p {
    display: inline;
    font-size: 14px;
    margin: 0 0 0 24px;
}

.sidebar-open > div > a > button > svg {
    margin: 0 0 0 24px;
}

.sidebar-open > div > a > button > i {
    margin: 0 0 0 24px;
}

.sidebar-open :hover {
    background-color: #dcdcdc;  
}

/* selected icon: #ff0000; */

.sidebar-hidden {
    width: 0;
    overflow: hidden;
    transition: width 0.4s;
}