#video-container {
    position: absolute;
    left: 150px;    
    height: 71.4%;
    outline: none;
}

#video-controls button {
   border:none;
   cursor:pointer;
   background:transparent;
   background-size:contain;
   background-repeat:no-repeat;
}

video {
    margin: 0 auto;
    width: auto !important;
    height: 100% !important;
    outline: none;
}
