#player-container {
    margin: 0 auto;
    height: 100%;
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

#video-container {
    /* position: absolute; */
    left: 0px;  
    margin: 16px 40px 16px 48px;  
    height: 71.4%;
    width: auto;
    outline: none;
}

#video-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
                position: relative;
            bottom: 50px;
            color: white;


}

#video-controls button {
   border:none;
   outline: none;
   cursor: pointer;
   background:transparent;
   background-size:contain;
   background-repeat:no-repeat;
}

video {
    margin: 0 auto;
    /* width: auto !important; */
    height: 100% !important;
    outline: none;
}

#video-info, .author-publish, .vid-author {
    color: #0a0a0a;
}

#video-info {
    width: 100%;
    position: relative;
    bottom: 50px;
}

.video-stats {
    width: 100%;
    padding: 20px 0 8px;
    border-bottom: 1px solid #e5e5e5;
}

.vid-title {
    width: 96vh;
    font-size: 18px;
    color: #0a0a0a;
    word-break: break-word;
    overflow-wrap: break-word;

}

.vid-author {
    font-size: 14px;
}

.publish-date {
    font-size: 13px;
        color: rgba(17, 17, 17, 0.6)

}

.vid-description {
    font-size: 14px;
    margin: 24px 0 0 64px;
}

.author-stuff{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0 0 0;

}

.author-publish{
    display: flex;
    flex-direction: column;
}

.author-thumbnail {
    background-color: #0288d1;
    color: #ffffff;
    border-radius: 50%;
    font-size: 40px;
    padding: 0px 18px;
    margin: 0 16px 0 0;
}

.author-thumbnail > p {
    margin: 0;
}

#seek-bar {
    width: 99%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: 2px;
    bottom: 48px;
}

#volume-bar {
    width: 8vw;
    padding: 0;
    transition: 0.2s;
    display: none;
}

#volume-icon:hover + #volume-bar {
    display: block; 
}

#left-controls {
    display: flex;
    flex-direction: row;
            align-items: center;
            color: white;

}

#right-controls button, #left-controls button {
    color: white;

}

