.vid-form {
    width: 1000px;
    background-color: #ffffff;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #dddddd;
    box-shadow: 2px;
}

.video-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vid-form-background {
    width: 100%;
    height: 100vh;
    background-color: #dddddd;
}

.video-form input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    width: 428px; 
    padding: 5px 10px 6px 10px;
    font-size: 12px;
}

.video-form textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    width: 428px;
    padding: 5px 10px 6px 10px;
    border: 1px solid #dddddd;
    outline: none;
    font-size: 12px;
}

.video-form input:hover, textarea:hover{
    border: 1px solid #b9b9b9;
}

.video-form input:focus, textarea:focus{
    border: 1px solid #177ac6;
}


.video-form label {
    display: flex;
    flex-direction: column;
    border-radius: 0;
}

.video-form .submit {
    background-color: #177ac6;
    border-radius: 2px;
    width: 120px;
    height: 30px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 11px;

}